{% extends 'pybobase.html' %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h5 class="my-3 border-bottom pb-2">애니티콘 등록</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3">
            <label for="id_photo" class="form-label">사진</label>
            <input type="file" name="photo" id="id_photo" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}
